This is where all of a teammate's logs will be displayed (by month)

<ul><% @log.each do |log| %>
	<li><%= log.date %><br>
		<%= log.mileage %>
	</li>
<% end %>
</ul>
Same view as edit and delete will take place
<br>
<%= link_to 'My profile', teammate_path %>
<br>
<%= link_to 'Team profile', team_path %>




